// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

#header {
	color: #7C5852;
}

#header a {
	font-size: 48px;
	color: #7C5852;
}